{% extends 'base.html' %}

{% block title %}Home | Online Store{% endblock %}

{% block content %}
<div class="container m-auto mt-5 row gap-2 justify-content-center">
    <h1 class="d-flex justify-content-center mb-10">Home</h1>
    {% for product in products %}
    <div class="card col-3 p-0">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Product image" />
        <div class="card-body">
            <h3>
                <a class="text-decoration-none" href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
            </h3>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex flex-column gap-2">
                <div class="d-flex align-items-center gap-2">
                    <b><small>Old price:</small></b>
                    <small class="text-decoration-line-through">
                        <b class="text-danger">${{ product.old_price|floatformat:2 }}</b>
                    </small>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <b><small>Current price:</small></b>
                    <small><b class="text-success">${{ product.new_price|floatformat:2 }}</b></small>
                </div>
            </div>
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <button type="submit" class="mt-2 w-100 d-flex align-items-center justify-content-center font-bold btn btn-warning">
                    <i class="bi bi-cart-plus"></i> Add to cart
                </button>
            </form>            
        </div>
    </div>
    {% endfor %}
    {% include 'components/_paginator.html' %}
</div>
{% endblock %}
