{% extends 'base.html' %}

{% block title %}{{ product.name }} | Online Store{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'products' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>

    <!-- Product Details -->
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <h1 class="display-4">{{ product.name }}</h1>
            <p class="text-muted">{{ product.description }}</p>
            <h4 class="text-danger">
                <s>${{ product.old_price|floatformat:2 }}</s>
            </h4>
            <h2 class="text-success">${{ product.new_price|floatformat:2 }}</h2>
            {% if not request.user.is_authenticated %}
            <b>
                Please, <a href="{% url 'login' %}?next=/product/{{ product.id }}/">log in</a> to add product to your cart
            </b>
            {% else %}
            
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <button class="btn btn-warning btn-lg mt-3">
                    <i class="bi bi-cart-plus"></i> Add to Cart
                </button>
            </form>
            {% endif %}
        </div>
    </div>

    {% include 'components/_paginator.html' %}
</div>
{% endblock %}
